test.py
test2.py
test3.py
test4.py

archive/

.venv/

data/bronze/acra/html
data/bronze/acra/json
data/bronze/acra/stage
data/bronze/acra/acra_data.csv

data/bronze/companies_sg/*.csv

data/bronze/recordowld/no_website_html/*.html
data/bronze/recordowld/recordowl_website_1000.csv

__pycache__

html_files

html_pages

html_companies_sg
